{{> head}}
{{> navbar}}


<div class="row">
    <div class="col-8">
        <h1>texto</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium itaque dolores suscipit, minima officiis a sequi architecto optio voluptatibus saepe. Qui debitis et, neque enim voluptate ullam fugiat rem.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/imageniOS.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer}}